<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>管理员后台</title>
  <link rel="shortcut icon" href="/public/img/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/node_modules/layui/dist/css/layui.css">
</head>

<body>
  <div class="layui-layout layui-layout-admin">
    <div class="layui-header">
      <div class="layui-logo" style="width: 165px;">管理员 {{ user.username }} </div>
      <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
          <a href="javascript:;">
            <img src="/public/img/head.jpg" class="layui-nav-img">
            {{ user.username }}
          </a>
        </li>
        <li class="layui-nav-item"><a href="/logout">注销</a></li>
      </ul>
    </div>

    <div class="layui-side layui-bg-black">
      <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
          <li class="layui-nav-item"><a href="/delSalesman">销售人员ID列表&删除</a></li>
          <li class="layui-nav-item"><a href="/addSalesman">销售人员ID增加&修改</a></li>
          <li class="layui-nav-item"><a href="/checkRecords">各类商品销售记录</a></li>
          <li class="layui-nav-item"><a href="/performance">各类商品销售业绩统计</a></li>
          <li class="layui-nav-item"><a href="/loginStatus">各类用户历史登录状态</a></li>
          <li class="layui-nav-item"><a href="/userPicture">用户画像</a></li>
        </ul>
      </div>
    </div>

    <div class="layui-body">
      <!-- 内容主体区域 -->
      <div style="padding: 15px;">
        <form id="salesman-form" action="" style="overflow: hidden;">
          <table class="layui-table">
            <colgroup>
              <col width="150">
              <col width="200">
              <col>
            </colgroup>
            <thead>
              <tr>
                <th>销售人员ID</th>
                <th>口令</th>
              </tr>
            </thead>
            <tbody>
              {{ each salesID }}
              <tr>
                <td>{{ $value.username }}</td>
                <td>{{ $value.password }}</td>
                <td>
                  <input type="checkbox" name="username" value="{{ $value.username }}">
                </td>
              </tr>
              {{ /each }}
            </tbody>
          </table>
          <div class="layui-btn-group" style="float: right;">
            <button type="submit" class="layui-btn">
              <i class="layui-icon">&#xe640;</i> 删除
            </button>
            <button type="reset" class="layui-btn">
              <i class="layui-icon">&#xe669;</i> 取消
            </button>

          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="/node_modules/layui/dist/layui.js"></script>
  <script>
    layui.use('element', function () {
      var element = layui.element;

    });
  </script>
  <script src="/node_modules/jquery/dist/jquery.js"></script>
  <script>
    //异步提交表单
    $('#salesman-form').on('submit', function (e) {
      e.preventDefault()
      var formData = $(this).serialize()
      console.log(formData);
      if (formData === '') {
        window.alert('请选择要删除的销售人员ID')
      } else {
        $.ajax({
          url: '/delSalesman',
          type: 'post',
          data: formData,
          dataType: 'json',
          success: function (data) {
            var err_code = data.err_code
            if (err_code === 1) {
              window.alert('成功删除销售人员ID！！')
              window.location.href = '/delSalesman'
            }
          }
        })
      }
    })
  </script>
</body>

</html>